*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px red solid; */
}
body{
    color: white;
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
}

/*Parte del Logo*/

header{
    background-color: white;
    display: flex;
    justify-content: center;
    background-image: url(calle2.jpg);
    background-size: cover;
    position: relative;
    opacity: 0.8;
 
}

.logo-principal{
    width: 100px;
    height: auto;
    margin: 10px;
}

/*Parte de Navegacion*/
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 150, 150);

}
a{
    text-decoration: none;
    color: white;
}

/*Parte Principal de la Pagina*/

.texto-principal{
    display: flex;
    justify-content: center;
}

.texto-secundario{
    display: flex;
    justify-content: center;
}

/*Seccion de Productos*/

.productos-contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    /* display: grid;
    grid-template-columns: repeat(3,2fr);
    grid-template-rows: repeat(2,180px); */
    gap: 5px;
    background: radial-gradient(ellipse, white,rgb(174, 172, 172));
    color: black;
    margin: auto;
    justify-items: center;
    width: 100%;
    height: 700px;
    padding: 20px;
    max-width: 1200px;
    flex-wrap: wrap;
    }

.texto-producto{
    display: flex;
    text-align: center;
}



.zoom-imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    width: 300px;
    height: 275px;
    text-align: center;
    padding: 20px;
}

.zoom-imagen img{
    
    transition: transform 0.8s ease-in-out;
}

.zoom-imagen:hover img {
    transform: scale(1.1);

}



.boton{
    background-color: white;
    color: black;
    padding: 1px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.boton:hover{
    background-color: rgb(136, 132, 132);
    transform: translateY(-3px);
}

.boton:active{
    background-color: green;
    transform: translateY(1px);
}

.seccion-imagenes{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.imagenes{
    width: 200%;
    height: auto;
    transition: transform 0.3s ease;
    opacity: 0.9;
}

.imagenes:hover{
    transform: scale(1.2,1);
}
/*Parte Inferior de la Pagina*/

footer{
    background-color: rgb(105, 104, 104);
}

.logos-redes{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    margin: 0;
    padding: 50px;
    
}

.logo-zoom{
    width: 50px;
    height: 50px;
    transition: 0.6s ease;
    }

.logo-zoom:hover{
    transform: rotate(360deg);
}

p{
    text-align: center;
}